.cabecalho { background-color: #2D5377; color: #FFF; padding: 20px 0; }
.container { max-width: 960px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; }
.cabecalho__logo { max-width: 200px; }
.cabecalho__navegacao li { display: inline-block; margin-left: 20px; font-weight: 500; }
